.hotspot {
  position: absolute;
}

.hotspot-container {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}

.hotspot-content {
  overflow: hidden;
  position: absolute;
  left: 50%;
}

.hotspot-trigger {
  position: relative;
}
