.image-tooltips {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  &-item {
    position: absolute;

    &__trigger {
      position: relative;
    }

    &__content {
      overflow: hidden;
      position: absolute;
      left: 50%;
    }
  }
}
